body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}



h1 {
  font-size: 5rem;
  display: in;
}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: midnightblue;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
}
.card {
  display: inline-block;
  width: 45%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.card-title{
  display: inline-block;
}


.left > img{
  float: left;
}
.right > img{
  float: left;
}

.card-title {
  margin-bottom: 3px;
}


@media (max-width: 680px){

  .card {
  display: block;
  width: 100%
  }
  .logo{
    width: 20%;
  }
  h1 {
    text-align: center;
    font-size: 42px;
  }

  .tile-image{
    width: 100%;
    height: 100%;
    margin: 0 ;
  }


  .left > img{
    display: block;
  }

  .card-text {
    text-align: justify ;
  }
}
